<div class=navbar-me>
    <a class=clean-link href="{{base_url}}"><span class=text-green>nferhat</span></a><span class=text-tertiary>@www</span>
</div>

{% assign separator = "<span class=text-tertiary>&bull;</span>" %}

<div class=navbar-links>
    <a href=/about.html class=navbar-link>
        <span class=text-tertiary>/</span>home
    </a>
    {{separator}}
    <a href=/repos.html class=navbar-link>
        <span class=text-tertiary>/home/</span>src
    </a>
    {{separator}}
    <a href=/blog class=navbar-link>
        <span class=text-tertiary>/var/</span>blog
    </a>
    {{separator}}
    <a href=/dev.html class=navbar-link>
        <span class=text-tertiary>/</span>dev
    </a>
</div>
