// blog/_index.sass -*- styles shared by the blog listings (index, tags) and blog pages


.blog-list-marker
    font-family: $mono-font
    user-select: none
    font-weight: 700
    font-style: italic
    color: $separator

.colorless-link
    color: inherit
    text-decoration: none

// Less spacing for the headers here.
.blog-title-list
    margin-top: 0rem
    width: auto
    display: inline
    &:hover
        text-decoration: underline $color4 solid 2px
    &.draft
        text-decoration: underline $color3 solid 2px

.funny-message
    font-family: $mono-font
    color: rgba($text-tertiary, 0.5)
    width: 100%
    margin-top: 100px
    text-align: center
